<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./style.css" />

    <title>The Horizon Magazine</title>
  </head>
  <body>
    <div class="full-height place-items-center">
      <div id="landing-inner">
        <picture>
          <source
            srcset="./assets/horizonheader-11.jpg"
            media="(min-width: 1000px)"
          />
          <img
            id="logo"
            src="./assets/horizoninstagram5.jpg"
            alt="Horizon Magazine Logo"
          />
        </picture>
        <nav>
          <ul>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#editions">Editions</a>
            </li>
            <li>
              <a href="#submit">Submit</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <main>
      <div id="about">
        {{ about | render }}
        {{ aboutbody | render }}
      </div>
      <div id="editions">
        {{ editions | render }}
        {{ editionsbody | render }}
        <div id="editionslist">
          <ul>
          {% for edition in editionslist %}
            <li><a class="edition-link" href="{{edition.href}}"><i>Horizon Magazine</i> – {{ edition.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div id="submit">
        {{ submit | render }}
        {{ submitbody | render }}
      </div>
      <div id="competition">
        {{ competition | render }}
        {{ competitionbody | render }}
      </div>
      <div id="postscript">
        {{ postscriptbody | render }}
      </div>
    </main>

    <script>
      const isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      let linksAreMobile = false

      window.addEventListener('resize', function() {
        if (isMobile || window.matchMedia('(max-width: 500px)').matches) {
          if (!linksAreMobile) {
            const links = document.querySelectorAll('a.edition-link');
            links.forEach(link => {
              link.href += ".pdf"
            })
            linksAreMobile = true
          }
        } else {
          if (linksAreMobile) {
            const links = document.querySelectorAll('a.edition-link');
            links.forEach(link => {
              link.href = link.href.replace(".pdf", '')
            })
            linksAreMobile = false
          }
        }
      });

      window.dispatchEvent(new Event('resize'));
    </script>

    <script data-goatcounter="https://thehorizonmagazine.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
